/*顶部轮播图*/
.banner{
	background-color: #fff
}
.list_icon{
	/*width: calc(100% - 120px);*/
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	background: white;
	padding: 10px 0;
}
.list-icon{
	width: 22%;
	margin: 10px 0;
}
.list-icon img{
	width: 60%;
}
.list-icon p{
	/*font-size: 30px;*/
	color: #2c2c2c;
	margin: 0;
	margin-top: 10px;
}
/*广告列表*/
.list{
	background-color: #fff;
	padding: 10px 0;
	margin: 10px 0;
	display: flex;
}
.list img{
	padding:0 10px;
	/*width: calc(35% - 20px);*/
	/*height: 100%*/
	width: 7rem;
	height: 7rem
}
.list .div{
	padding-right: 10px;
	width: 65%;
}
.list .first{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list .first .number{
	color: rgb(68,159,254);
}
.list .text{
	color:rgb(153,153,153);
	text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden;  /** 隐藏超出的内容 **/
}
.list .time{
	text-align: right;
	color: rgb(153,153,153);
}
.banner{
	width: 100% !important;
}