<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyou.msfw.mapper.DriverRegisteredMapper">
  <resultMap id="BaseResultMap" type="com.huiyou.msfw.model.DriverRegistered">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="driver_name" jdbcType="VARCHAR" property="driverName" />
    <result column="pro_id" jdbcType="INTEGER" property="proId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="contact_tel" jdbcType="VARCHAR" property="contactTel" />
    <result column="is_have" jdbcType="INTEGER" property="isHave" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Pagination_Sql">
    <if test="isPage == 1">
      limit  #{pageIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, driver_name, pro_id, city_id, area_id, contact_tel, is_have, is_del, note, create_time,
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.huiyou.msfw.model.DriverRegisteredExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from driver_registered
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="Pagination_Sql" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from driver_registered
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" keyProperty="id" parameterType="com.huiyou.msfw.model.DriverRegistered" useGeneratedKeys="true">
    insert into driver_registered
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="driverName != null">
        driver_name,
      </if>
      <if test="proId != null">
        pro_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="contactTel != null">
        contact_tel,
      </if>
      <if test="isHave != null">
        is_have,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="driverName != null">
        #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="contactTel != null">
        #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="isHave != null">
        #{isHave,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <!-- 搜索 -->
  <select id="selDriverRegistered" resultType="DriverRegistered" parameterType="DriverRegistered">
    SELECT driver_registered.*,
    province.`name` AS pro_name,
    city.`name` AS city_name,
    area.`name` AS area_name
    FROM driver_registered
    LEFT JOIN province ON driver_registered.pro_id = province.id
    LEFT JOIN city ON driver_registered.city_id = city.id
    LEFT JOIN area ON driver_registered.area_id = area.id
    <where>
      is_del =0
      <if test="id !=null and id !=0">
        and driver_registered.id = #{id}
      </if>
      <if test="driverName !=null and driverName !=''">
        and driver_name LIKE CONCAT('%',#{driverName},'%')
      </if>
      <if test="contactTel !=null and contactTel !=''">
        and contact_tel LIKE CONCAT('%',#{contactTel},'%')
      </if>
      <if test="isHave !=null and isHave !=0">
        and is_have =#{isHave}
      </if>
      <if test="proId !=null and proId !=0">
        and pro_id =#{proId}
      </if>
      <if test="cityId !=null and cityId !=0">
        and city_id =#{cityId}
      </if>
      <if test="areaId !=null and areaId !=0">
        and area_id =#{areaId}
      </if>
      <if test="startTime != null and startTime !=''">
      and driver_registered.create_time <![CDATA[>=]]> #{startTime}
      </if>
      <if test="endTime != null and endTime !=''">
        and driver_registered.create_time <![CDATA[<=]]> #{endTime}
      </if>

    </where>
    ORDER BY driver_registered.id<!-- desc 倒序 -->
  </select>

  <select id="countByExample" parameterType="com.huiyou.msfw.model.DriverRegisteredExample" resultType="java.lang.Integer">
    select count(*) from driver_registered
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update driver_registered
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.driverName != null">
        driver_name = #{record.driverName,jdbcType=VARCHAR},
      </if>
      <if test="record.proId != null">
        pro_id = #{record.proId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.areaId != null">
        area_id = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.contactTel != null">
        contact_tel = #{record.contactTel,jdbcType=VARCHAR},
      </if>
      <if test="record.isHave != null">
        is_have = #{record.isHave,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huiyou.msfw.model.DriverRegistered">
    update driver_registered
    <set>
      <if test="driverName != null">
        driver_name = #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="proId != null">
        pro_id = #{proId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="contactTel != null">
        contact_tel = #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="isHave != null">
        is_have = #{isHave,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>