<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyou.msfw.mapper.SmsMapper">
    <!-- 查询message -->
    <select id="selSms" resultType="Sms">
        SELECT * FROM send_sms
        <where>
            <if test="tel != null and tel != ''">
                tel LIKE CONCAT('%',#{tel},'%')
            </if>
            <if test="tel != null and tel != ''">
                AND message LIKE CONCAT('%',#{message},'%')
            </if>
        </where>
    </select>
    <!-- 添加 -->
    <insert id="addSms"  parameterType="Sms">
        INSERT INTO send_sms(tel,message) VALUES (#{tel},#{message})
    </insert>
    <!-- 删除 -->
    <delete id="delSms" parameterType="String">
	    DELETE FROM send_sms WHERE tel = #{tel}
    </delete>
</mapper>